@model IEnumerable<TestWebApp2.Models.DateTimeXAxisChartData>
@using JQChart.Web.Mvc
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jqchart")

<div>
    @(Html.JQChart()
          .Chart(Model)
          .ID("jqChart")
          .Width(500)
          .Height(300)
          .Title("Line Chart")
          .Animation(TimeSpan.FromSeconds(1))
          .Tooltips(el => el.TooltipsType(TooltipsType.Shared))
          .Axes(axis =>
                {
                    axis.DateTimeAxis(Location.Bottom)
                        .Labels(el => el.StringFormat("m/d/yy"));
                }
          )
          .Series(series =>
                  {
                      series.Line()
                            .Title("Series 1")
                            .StrokeStyle("#418CF0")
                            .LineWidth(2)
                            .XValues(el => el.ValueX)
                            .YValues(el => el.ValueY1);

                      series.Line()
                            .Title("Series 2")
                            .StrokeStyle("#FCB441")
                            .LineWidth(2)
                            .XValues(el => el.ValueX)
                            .YValues(el => el.ValueY2);
                  }
          )
          .Render()
          )
</div>
